doctype html
html(lang="ko")
    head 
        title 1Day1Pic
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        include partials/header
        main 
            block content
    script 