header
    nav
        ul 
            li 
                a(href="/") Home
            li 
                input(type="text", name="serach")
            li 
                a(href="/user/:id/profile") Profile
            li 
                a(href="/upload") Upload