header
    nav
        ul 
            li 
                a(href="/") Home
            li 
                input(type="text", name="serach")
            li 
                a(href="/join") Join
            li 
                a(href="/login") Login
            li 
                a(href="/user/:id") Profile
            li 
                a(href="/pic/upload") Upload